@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Mono:wght@400;700&display=swap');

html, body {
  font-family: 'El Messiri', sans-serif !important;
  /* font-family: 'Lato', sans-serif;
  font-family: 'Space Mono', monospace; */
}

/* .swiper-button-next::after, .swiper-button-prev::after {
  content: "" !important;
} */

/* .chakra-select__icon {
  display: none;
} */